{% extends "base.html" %}
{% block content %}
<h2>Upload a FASTA File</h2>
<form method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <input class="form-control" type="file" name="file" required>
  </div>
  <button class="btn btn-primary" type="submit">Upload</button>
</form>
{% if fasta_manager.datasets %}
<h3>Select File</h3>
<form method="POST" action="{{ url_for('set_file') }}">
  <select name="filename" class="form-select mb-2">
    {% for file in fasta_manager.datasets %}
      <option value="{{ file }}" {% if file == fasta_manager.current_file %}selected{% endif %}>{{ file }}</option>
    {% endfor %}
  </select>
  <button type="submit" class="btn btn-secondary">Set Current File</button>
</form>
{% endif %}

{% endblock %}
